@page "/internal/age"
@model Roblox.Website.Pages.Auth.Age

@{
    Layout = "Shared/_Layout";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="card card-body">
                <h2>18+ Certification</h2>
                    @if (!Model.is18Plus)
                    {
                        <form method="post">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" name="ageconsent" id="age-consent">
                                <label class="form-check-label" for="age-consent">
                                    By checking this box and clicking submit, I certify that I am 18 years of age or older as of Today, @DateTime.UtcNow.ToString("f") UTC, I consent to viewing 18+ Material (including Games, Clothing, Hats, etc) present on the website, and that I understand I cannot revoke this cerification. If it is discovered you lied about your age, your account and any associated accounts will be deleted.
                                </label>
                            </div>
                            @Html.AntiForgeryToken()
                            <input type="submit" class="btn btn-primary mt-4" value="Submit"/>
                        </form>
                    }
                    else
                    {
                        <p class="mt-4">Your account is marked as 18 or over. You now have access to assets marked as 18+. You cannot revoke this certification.</p>
                        <a class="btn btn-primary" href="/home">Home</a>
                }
            </div>
        </div>
    </div>
</div>