@page "/internal/updates"
@model Roblox.Website.Pages.Internal.Year

@{
    Layout = "Shared/_Layout";
}

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card card-body">
                <h3>ECS Updates</h3>
                <p>We had to wipe the database on 5/31/2023 due to it getting corrupted. Sorry for this.</p>
            </div>
        </div>
    </div>
</div>