@page "/auth/account-deletion"
@model Roblox.Website.Pages.Auth.AccountDeletion

@{
    Layout = "Shared/_Layout";
}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card card-body">
                <h3>Account Deletion</h3>
                <p>To delete your account, enter your credentials below. You must be offline for at least 1 week before you can delete your account.</p>

                <p><span class="text-danger">There is no way to undo an account deletion.</span> Your account and all its information (such as items and creations) will be permanently scrubbed from the website.</p>
                @if (Model.successMessage != null)
                {
                    <p class="text-success">@Model.successMessage</p>
                }
                @if (Model.failureMessage != null)
                {
                    <p class="text-danger">@Model.failureMessage</p>
                }
                <form method="post">
                    <input name="username" type="text" class="form-control" placeholder="Username"/>
                    <input name="password" type="password" class="form-control mt-1" placeholder="Password"/>
                    @Html.AntiForgeryToken()
                    <div style="max-width: 200px;" class="mt-2">
                        <input type="submit" class="form-control btn btn-danger" value="Delete Account"/>
                    </div>
                </form>
                <p class="text-sm mt-4">If you do not remember your username or password, you cannot delete your account - we'd have no way to verify you are the true account owner.</p>
            </div>
        </div>
    </div>
</div>