@page "/auth/contact"
@model Roblox.Website.Pages.Contact

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Contact</title>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h1>Contact</h1>
            <p>All inquires should be sent through email: <span class="fw-bold">contact@@economy-simulator.org</span></p>
            <p>Please do not send questions regarding password resets or account recovery. If you cannot reset your password through the <a href="/auth/password-reset">password reset page</a>, then support likely cannot help you.</p>
            <br/>
            <p>Note that messages sent via any contact method not listed above (including, but not limited to, our Domain Register or Web Host) will be completely ignored.</p>
        </div>
    </div>
</div>