@page "/auth/credits"
@model Roblox.Website.Pages.Credits

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Credits</title>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h1>Credits</h1>
            <span class="fw-bold">floatzel</span>     </p> - He was the owner and developer of the original Economy Simulator at economy-simulator.com. It has since shutdown and the source code is public there.<p></p>

            <span class="fw-bold">tenshi/temmie</span>     </p> - Old Co-Owner of the original Economy Simulator.<p></p>

            <span class="fw-bold">LA/Judge</span>     </p> - Giving us the exact settings ROBLOX used for the headshot angles back in 2016-2020.<p></p>   

            <span class="fw-bold">Samuel</span>     </p> - Helping us patch some stuff.<p></p>  

            <span class="fw-bold">Jaiz</span>     </p> - Helping me set up Cloudflare Tunnels.<p></p>  
        </div>
    </div>
</div>