@page "/auth/discord"
@model Roblox.Website.Pages.Auth.Discord

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Discord Server</title>
}

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card card-body">
                <h3>Discord</h3>
                <p><a href="https://discord.gg/aCMvJctUPu">You may join our discord server here.</a>.</p>
            </div>
        </div>
    </div>
</div>