@page "/auth/tos"
@model Roblox.Website.Pages.Auth.Privacy

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Terms of Service</title>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h2 class="mt-4 mb-4">Terms of Service</h2>
            <p>Last Updated June 29, 2022</p>
            <p>This is essentially just a list of rules for our platform. We reserve the right to update this at any time without any notice, so check here frequently in case the terms are updated. For privacy information, <a href="/auth/privacy">click here</a>.</p>
            <p>A violation of any of these rules could result in a temporary OR permanent ban. New accounts will usually be permanently banned on their first infraction, while older accounts might be given temporary bans (e.g. 1 day or 1 week) depending on the severity.</p>
            <p class="mb-0 fw-bolder">Text Guidelines</p>
            <p>These apply to all text inputs on the site, such as forum posts and in-game chat.</p>
            <ul>
                <li>
                    <span class="fw-bolder">Do not discriminate or harass people.</span> Light swearing is OK, but don't use slurs as an insult.
                </li>
                <li>
                    <span class="fw-bolder">Do not reveal personal information pertaining to yourself or others.</span>
                </li>
                <li>
                    <span class="fw-bolder">Try not to start drama.</span> For example, do not create posts "exposing" someone. If you are concerned about a user, you should send a message to a moderator.
                </li>
                <li>
                    <span class="fw-bolder">Do not excessively advertise websites, YouTube channels, Twitter accounts, or other off-platform URLs.</span> You can mention stuff like "Hey, I own example.com", but if you start spamming "join my site" or "subscribe to my YouTube channel", you're going to be banned.
                </li>
            </ul>
            <p class="mt-4 mb-0 fw-bolder">Image Guidelines</p>
            <p>As well as the above text guidelines, these guidelines apply to images uploaded to the site:</p>
            <ul>
                <li>
                    <span class="fw-bolder">Do not upload violent content.</span> Examples include gore, violent scenes from movies, etc.
                </li>
                <li>
                    <span class="fw-bolder">Do not upload content with real people.</span> Exceptions will be made for celebrities if it's obvious who they are.
                </li>
                <li>
                    <span class="fw-bolder">Do not upload pornographic content featuring underage characters.</span> Even if the character is officially a 500 year old vampire, if it looks underage, you shouldn't upload it.
                </li>
            </ul>
            <p class="mt-4 mb-0 fw-bolder">Other Notes</p>
            <ul>
                <li>
                    <span class="fw-bolder">You are responsible for invited users.</span> For example, if you invite someone who starts spamming racial slurs on the forums, your account could get banned. You should only invite people you trust.
                </li>
                <li>
                    <span class="fw-bolder">You are responsible for the security of your account.</span> Password resets are done on a case-by-case basis, depending on if you can verify that you actually owned the account. Pick a strong password - if you forget it or someone guesses it, you may permanently lose access to your account.
                </li>
                <li>
                    <span class="fw-bolder">A few alternate accounts is OK.</span> You can create an alt by creating an invite and joining using the invite URL. Do not create alt accounts with the application system.
                </li>
                <li>
                    <span class="fw-bolder">Do not use the advertising system for advertising URLs that are not relevant to this website.</span> For example, discord servers pertaining to this website (or old Roblox in general) would be ok. A URL pointing to an unknown website (such as "my-revival.com"), your YouTube channel, your Twitch channel, etc, would not be allowed.
                </li>
            </ul>
        </div>
    </div>
</div>